<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Place Your Order</h1>

    <form method="post">
        <label >Client</label>
        <input  type="text"  id="client" name= "client" placeholder="Enter your full name" style="font-size: -1rem;" required>
        
        <br>

      
        
            <button type="submit"  value="Submit" style="color: blue;"> Add Order</button>
     
        </div>
    </form>

    
</body>
</html>