<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <style>
       *{
        font-size: 2.1rem;
        }

        body {
            background-image: url('../assets/bg36.jpg');
            font-family: 'Roboto', sans-serif;

        }
   </style>



<div class="container">
    <form class="container-fluid flex-col items-center form" id="comment-form" action="/comment" method="post" id="comment-form" style="width:500px;">
    <span style="font-size: 6rem;" class="ml-4 font-extrabold text-gray-200">Post a Comment</span>
            
        <div class="container text-white" style="font-size: 3rem;">
            <div class="form-group mb-4">
                <label for="name">Name</label>
                <input  type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" style="font-size: 3rem;" required>
            </div>
            <div class="form-group mt-4 mb-4">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="email"  placeholder="Enter email" style="font-size: 3rem;" required>
            </div>
            <div class="form-group mb-4">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"  style="font-size: 3rem;" required></textarea>
            </div>
            <div class="col-sm flex justify-center items-center p-4" >
                <!-- <button type="submit" class="submit hidden"></button> -->
                <button  type="submit" value="submit"  style="font-size: 3rem;" class="py-2 btn btn-block btn-outline-success">Submit</button>
            </div>
   
      </form> 
</div>

<div class="w-full h-40 mb-10 " style="visibility: hidden;">

</div>