<link rel="stylesheet" href="./css/home.css">
<!-- <link rel="stylesheet" href="css/new-query.css"> -->

<section class="bgimage">

    <div>
        <div class="because">
            
            <h1> Because </h1>
            <h2>YOU'RE
            <br> WORTH IT</h2>
        </div>
        <div class="food">
            <section class="table">
                <div class="card">
                    <img src="./assets/food1.jpg">
                    <div class="card-body">
                        <div class='food-name'> Chips & Fish - </div>
                        <div class='food-price'> $7.99</div>
                    </div>

                </div>


                <div class="card">
                    <img src="./assets/food2.jpg">
                    <div class="card-body">
                        <div class='food-name'> Chef Salad - </div>
                        <div class='food-price'> $2.99</div>
                    </div>
                </div>

                <div class="card">
                    <img src="./assets/food3.jpg">
                    <div class="card-body">
                        <div class='food-name'>Grilled Steak - </div>
                        <div class='food-price'>$14.99</div>
                    </div>
                </div>

                <div class="card">
                    <img src="./assets/food4.jpg">
                    <div class="card-body">
                        <div class='food-name'> Roast Chicken - </div>
                        <div class='food-price'>$9.99</div>
                    </div>
                </div>
        </div>


</section>

<article>
    <div class="content">
        <h3>Discover Our Story</h3>
        <h4>In our work we try to use only the most modern, convenient and interesting solutions.
        <br> We want the template you downloaded look unique and new for 
        <br>such a long time as it is possible.</h4>
    </div>
    <div class="bg">
        <img src="./assets/bg2.png">
    </div>

</article>

<section class="menu">
    <div class="eat">
        <h1>WHAT TO EAT?</h1>
        <h5>ENJOY OUR MENU</h5>
        <h6 >More than 250 dishes and 300 drinks for you.</h6>

    </div>
    
    <div class="view">
        <button id="menu_button"><i class="fa fa-address-book fa-lg "></i> View Menu</button>
    </div>

    <ul id="box">
        <li><a href="#" target="_blank">Banku</a></li>
        <li><a href="#" target="_blank">Fufu</a></li>
        <li><a href="#" target="_blank">Banku</a></li>
        <li><a href="#" target="_blank">Banku</a></li>
                                
    </ul>

    </div>
</section>

<article class="fourth">

    <div class="food-category">
        <section class="second-table">

            <div class="food1">
                <img src="./assets/hot_food.png">
                <div class='food-response'> Fully Responsive</div>
                <div class="food_detail">Your project looks great on any device. <br> Content can be easily read
                    and a user <br> understands freely what you wanted <br> to say him or her.</div>
            </div>
    
            <div class="food1">
                <img src="./assets/feature-food3.png">
                <div class='food-response'> Pure & Simple</div>
                <div class="food_detail">No fluff. Nothing should lead the visitor <br> away from the main essence of <br> website. There must be just important <br> information.</div>
            </div>

            <div class="food1">
                <img src="./assets/feature-food5.png">
                <div class='food-response'> Color Schemes</div>
                <div class="food_detail" >The set of ready made CSS files with <br> different color schemes will help you in <br> quick landing’s adaptation according <br> to your benchmark style.<div>
            </div>
        </section>

         <section class="second-table feature-two">
            <div class="food1">
                <img src="./assets/feature-food2.png">
                <div class='food-response'> PSD Is Included </div>
                <div class="food_detail">The graphic source file in PSD format is <br> included in the archive.</div>
            </div>
            <div class="food1">
                <img src="./assets/feature-food4.png">
                <div class='food-response'> Documentation</div>
                <div class="food_detail">The detailed documentation will help <br>you in adjusting the project with little <br>effort according to your requirements.</div>
            </div>
            <div class="food1">
                <img src="./assets/feature-food6.png">
                <div class='food-response'> Multiplatform</div>
                <div class="food_detail">The page is adapted to the most of the popular platform in segment.</div>
            </div>

        </section>
    </div>
</article>

<section class="reviews">

    <div>
        <i class="fa-regular  fa-star" style="font-size: 40px; gap: 80px;"></i>
        <i class="fa-regular  fa-star" style="font-size: 40px; gap: 80px;"></i>
        <i class="fa-regular  fa-star" style="font-size: 40px; gap: 80px;"></i>
        <i class="fa-regular  fa-star" style="font-size: 40px; gap: 80px;"></i>
        <i class="fa-regular  fa-star" style="font-size: 40px; gap: 80px;"></i>
    </div>
    <div>
        <p class="comment">This is a great product. It reveals an individual approach to each customer. I liked the level of the provided service.</p>
        <p class="name-comment">Karl K.</p>
    </div>
</section>


<article class="dishes">

    <div>
        <section class="dish-table">

            <div class="dish1">
                <i class="fa-regular fa-address-book"  style="font-size: 60px; opacity: 0.6; color: rgb(119, 115, 115); gap: 60px;"></i>
                <div class='food-name1'> 256</div>
                <div class="food-type">Dishes</div>
            </div>
    
            <div class="dish1">
               <i class="fa-solid fa-wine-glass" style="font-size: 60px; opacity: 0.6; color: rgb(119, 115, 115); gap: 60px;"></i> 
                <div class='food-name1'> 309</div>
                <div class="food-type">Drinks</div>
            </div>
            <div class="dish1">
                <i class="fa fa-smile"  style="font-size: 60px;opacity: 0.6; color: rgb(119, 115, 115); gap: 60px;"></i>
                <div class='food-name1'> 721</div>
                <div class="food-type">Happy Clients</div>
            </div>
    
            <div class="dish1">
                <i class="fa-regular fa-heart" style="font-size: 60px; opacity: 0.6; color: rgb(119, 115, 115); gap: 60px;"></i>
                <div class='food-name1'> 378</div>
                <div class="food-type">Likes</div>
            </div>
            
        </section>
    </div>    
</article>

<section class="wood">
    <div class="book_table">
        <p>Book a Table</p>
    </div>


    
    <form class="details">
        
      <div class="address">
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email Address">
            <input type="message" placeholder="Your Message or question">
        </div>
    </form>  
    
    <div class="book">
        <button ><i class="fa fas fas fa-book"></i>
            Book
        </button>
    </div>

    <div class="grid-container">
        <p>In our work we try to use only the most modern, convenient <br> and interesting solutions. We want the template you <br> downloaded look unique and new for such a long time as it is <br>  possible.</p>
        <div >
            
            <div>
                <i class="far fa-clock"style="font-size: 25px; opacity: 0.5;color: rgb(119, 115, 115); word-spacing: 30px; "></i><span>10:00 - 23:00(Mon-Sun)</span></div>
             <div> </div>
            <div>
                <i class="fas fa-map-marker-alt"style="font-size: 25px;opacity: 0.5; color: rgb(119, 115, 115); word-spacing: 30px;"></i>300 Boylstone Ave E, Seattle WA</div>
                 <div></div>
            <div>
                <i class="fas fa-phone"style="font-size: 25px;opacity: 0.5; color: rgb(119, 115, 115)"></i> <span>732-555-1428(Callback)</span> </div> 
                <div></div>
            <div><i class="fas fa-envelope"style="font-size: 20px;opacity: 0.5;color: rgb(119, 115, 115) "></i> your@email.com</div> 
            <div>your@email.com</div>
        </div>      
       
    </div>    

</section>

<!-- <div style="height: 100vh; width: 100%;"></div> -->